* {
    box-sizing: border-box;
}

html,
body {
    min-width: 1122px;
    margin: 0;
    padding: 0;
  }
  
body {
    background-color: white;
    background-size: 1122px auto;
}
header {
    outline: 1px solid blue;
}
main {
    padding-top: 40px;
}
h1 {
    outline: 1px solid blue;
    text-transform: uppercase;
}
h2 {
    outline: 1px solid blue;
    text-transform: uppercase;
}
h3 {
    outline: 1px solid blue;
    text-transform: uppercase;
    font-size: 24px;
}
.container {
    outline: 1px solid blue;
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}
.head_flex {
    display: flex;
}
.logo_head {
    outline: 1px solid blue;
}
.main_navigation {
    outline: 1px solid blue;
    width: 780px;
}
.menu {
    padding: 0px;
    font-size: 0px;
}
.menu li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    margin-right: 10px;
}
.menu li:last-child {
    margin-right: 0px;
}
.login_block {
    margin-left: 20px;
    outline: 1px solid blue;
    width: 140px;
}
.login_block a {
    text-transform: uppercase;
    margin-right: 20px;
    
}
.login_form {
    display: none;
}
.breadcrumbs {
    outline: 1px solid blue;
    font-size:0px;
}
.breadcrumbs_list {
    padding: 0px;
}
.breadcrumbs_list li {
    display: inline-block;
    font-size: 16px;
    margin-right: 40px;
}
.index_logo {
    outline: 1px solid blue;
    width: 368px;
    min-height: 204px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
}
.advantages {
    outline: 1px solid blue;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.advantages_caption {}

.advantages_item {
    outline: 1px solid blue;
    width: 300px;
}
.advantages_item:last-child {
    margin-right: 0;
}
.content_block {
    background-image: url('../img/icon/contetn_backgrnd.jpg');
    background-repeat: repeat-x repeat-y;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    padding: 50px 80px;
}
.content_item_left {
    outline: 1px solid blue;
    width: 380px;
}
.news_item {
    outline: 1px solid blue;
    margin-bottom: 20px;
}
.content_caption {
    outline: 1px solid blue;
}
.content_item_right {
    outline: 1px solid blue;
    width: 300px;
}
.slider {
    margin:0px;
    padding:0px;
}
.feedback_form {
    outline: 1px solid blue;
    width: 300px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.feedback_item input {
    width: 100%;
}
.feedback_item {
    outline: 1px solid blue;
    width: 140px;
    margin-top: 16px;

}
.feedback_form button {
    margin-top: 20px;
    display: inline-block;

}

footer {
    outline: 1px solid blue;
    padding-top: 60px;
    padding-bottom: 40px;
}
.main_footer {
    display: flex;
}
.footer_address {
    outline: 1px solid blue;
    width: 320px;
    margin-right: 60px;
}
.social_block {
    outline: 1px solid blue;
    width: 180px;
}
.social_block ul {
    font-size: 0px;
    padding: 0px;
    margin: 0px;
}
.social_list>li {
    display: inline-block;
    font-size: 16px;
    margin-right: 6px;
}
.copyright {
    outline: 1px solid blue;
    width: 160px;
    margin-left: auto;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.card_product {
    width: 100%;
    outline: 1px solid blue;
    display: flex;
    justify-content: space-between;
}
.content_image {
    width: 460px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.image_item {
    outline: 1px solid blue;
}
.content_list {
    outline: 1px solid blue;
    width: 400px;
}
.top_content {
    outline: 1px solid blue;
    width: 400px;
}
.content_row_1{
    outline: 1px solid blue;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
.in_stock {
    outline: 1px solid blue;
    width: 150px;
    min-height: 30px;
}
.item_code {
    outline: 1px solid blue;
    width: 140px;
    min-height: 30px;
}
.top_content p {
    outline: 1px solid blue;
    margin: 0px;
}
.content_row_2 {
    margin-top: 43px;
    outline: 1px solid blue;
}
.item_block {
    margin-top: 65px;
    outline: 1px solid blue;
}
.caption_about_us {
    width: 940px;
    outline: 1px solid blue;
    font-size: 25px;
}
.caption_about_us span {
    text-transform: uppercase;
}
.about_us {
    outline: 1px solid blue;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.about_us_left {
    outline: 1px solid blue;
    width: 380px;
    
}
.about_us_right {
    outline: 1px solid blue;
    width: 460px;
}
.about_us_right>table {
    outline: 1px solid blue;
    width: 100%;
}
.about_us_bottom {
    outline: 1px solid blue;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 60px;
}
.about_us_bottom h3 {
    width: 100%;
}
.shop_content {
    display: flex;
    justify-content: space-between;
}
.goods_filter {
    width: 220px;
}
.product_block {
    outline: 1px solid blue;
    width: 700px;
}
.product_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product_item {
    outline: 1px solid blue;
    width: 220px;
    margin-bottom: 20px;
}
.pagination {
    outline: 1px solid blue;
    font-size: 0px;
}
.pagination ul {
    padding: 0px;
}
.pagination li {
    display: inline-block;
    font-size: 16px;
}