* {box-sizing: border-box;}

body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
}

header {

}
main {
    margin: 0px;
}
footer {

}
h1 {
    margin: 0px;
}
h2 {
    margin: 0px;
}
h3 {
    margin: 0px;
}
p {
    margin: 0px;
}
.container {
    outline: 2px solid darkcyan;
    width: 1146px;
    margin: 0 auto;
    padding: 0 0px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.layout_header {
    display: flex;
}
.logo {
    outline: 1px solid saddlebrown;
    width: 154px;
}
.main_navigation {
    outline: 1px solid sandybrown;
    width: 540px;
    font-size: 0px;
}
.main_navigation ul {
    padding: 0px;
}
.main_menu li {
    display: inline-block;
    font-size: 16px;
}
.right_head_block {
    outline: 1px solid darkgoldenrod;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
    margin-left: auto;
    width: 170px;
}
.submenu, 
.login_form,
.search_form,
.basket_list {
    display: none;
}
.search {
    outline: 1px solid green;
    float: left;
}
.login {
    outline: 1px solid green;
    float: left;
}
.basket_shop {
    outline: 1px solid green;
    float: right;
}
.timetable {
    clear: both;
    outline: 1px solid green;
    width: 166px;
}
.slider {
    outline: 1px solid firebrick;
    margin: 0 auto;
    text-align: center;
}

.gallery_img {

}

.stock_block {
    outline: 1px solid saddlebrown;
    display: flex;
    justify-content: space-between;

}
.stock_item {
    outline: 1px solid firebrick;
    width: 557px;
}
.products {
    font-size: 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.products_list {
    outline: 1px solid saddlebrown;
    display: flex;
    justify-content: space-between;
}
.product_item {
    outline: 1px solid lawngreen;
    width: 267px;
    margin-bottom: 15px;
}
.info_block {
    outline: 1px solid rgb(255, 1, 1);
    width: 100%;
}
.info_list {
    outline: 1px solid rgb(0, 255, 0);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.info_top_text {
    outline: 1px solid tomato;
    width: 100%;
}
.info_item {
    width: 540px;
    outline: 1px solid rebeccapurple;
    margin-top: 10px;
}
.blog_delivery {
    outline: 1px solid paleturquoise;
    display: flex;
    justify-content: space-between;
}
.blog_item {
    outline: 1px solid indigo;
    width: 557px;
}

.map {

}
iframe {
    width: 100%;
}
.contact_block {
    outline: 1px solid slateblue;
    width: 302px;
}
.feed_back {
    display: none;
}
.layout_footer {
    display: flex;
    justify-content: space-between;
}
.social_block {
    outline: 1px solid indianred;
    width: 200px;
    font-size: 0px;
}
.social_block ul {
    padding: 0px;
}
.social_list li {
    display: inline-block;
    font-size: 16px;
}
.footer_menu {
    outline: 1px solid rebeccapurple;
    width: 340px;
    font-size: 0px;
}
.footer_menu ul {
    padding: 0px;
    margin: auto;
}
.footer_menu li {
    display: inline-block;
    font-size: 16px;
}
.academy_block {
    width:210px;
    outline: 1px solid indianred;    
}
.main_top {
    outline: 1px solid olivedrab;
}
.breadcrumbs {
    outline: 1px solid peru;
    font-size: 0px;
}
.breadcrumbs ul {
    padding: 0px;
}
.breadcrumbs ul>li {
   display: inline-block;
   font-size: 16px;
}
.main_top>h1 {
    outline: 1px solid rgb(9, 22, 201);    
}
.main_filter {
    outline: 1px solid yellow;
    width: 861px;
}
.filter_sorting {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.popularity_block {
    width: 193px;
}
.filter_price {
    width: 219px;
}
.filter_price input {
    width: 100%;
}
.fat_block {
    width: 415px;
}
.filler_block {
    width: 703px;
}
.filter_btn {
    width: 144px;
}
.pagination_block {
    font-size: 0px;
}
.pagination_block ul {
    padding: 0px;
}
.pagination_block ul>li{
    display: inline-block;
    font-size: 16px;
}




.slider {
    position: relative;
}
.slider input[type=radio] {
    display: none;
}
.slider_list {
    overflow: hidden;
}
.slider_list {
    width: 300%;
    transition: transform .8s ease;
}
.slider_item img {
    float: left;
    width: 1046px;
    height: 870px;    
}
.slider_controls {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -40px;
    z-index: 100;
    text-align: center;
}
.slider_controls label {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 3px;
    background: #ccc;
    cursor: pointer;   
    border: 4px solid white;
    border-radius: 50%;    
    box-shadow: 0px 0px 2px rgba(0,0,0,.8);     
    transition: background-color .2s;
}
#btn_1:checked ~ .slider_controls label[for="btn_1"],
#btn_2:checked ~ .slider_controls label[for="btn_2"],
#btn_3:checked ~ .slider_controls label[for="btn_3"] { 
    background-color: #666;
}
#btn_1:checked ~ .slider_list .slider_item {
    transform: translate(0);}
    
#btn_2:checked ~ .slider_list .slider_item {
    transform: translate(-1046px);}

#btn_3:checked ~ .slider_list .slider_item {
    transform: translate(-2092px);}